extends layout

block contenido
<<<<<<< HEAD
    include layout/page-titule
    .row
        .col-sm
            p.mb-4
                | Chart.js is a third party plugin that is used to generate the charts in this theme. The charts below have been customized - for further customization options, please visit the 
                a(target='_blank', href='https://www.chartjs.org/docs/latest/') official Chart.js documentation .
                   



   
        
=======
    br
    br
    br
    .container
        .row
            .col-md-6.offset-md-3
                .card.shadow.mb-5
                    .card-header.py-3.text-center.titulo-menu
                        h6.m-0.text-info NOTIFICACIONES
                    .card-body.tf-myriad
                        p No tiene nuevas notificaciones.
                        
                        
>>>>>>> ff26ecdebe5b0139d978e8e4774c9921a18a4ab6
