extends layout

block contenido
    br
    br
    br
    .container
        .row
            .col-md-6.offset-md-3
                .card.shadow.mb-5
                    .card-header.py-3.text-center.titulo-menu
                        h6.m-0.text-info NOTIFICACIONES
                    .card-body.tf-myriad
                        p No tiene nuevas notificaciones.
                        
                        
