extends layout

block contenido
        .row
            .col-sm
                h3.tf-bungee.m-3 #{titlePage} - SALDO : 202.96 
                    button#btnEditar.btn(type="button" data-toggle="modal" data-target="#modalProveedor") 
                        i.fas.fa-edit.text-success
                //- pre= vardump(proveedor) 
            .col-sm.text-right
                button#newDeposito.btn.btn-warning.btn-icon-split.m-3(type="button" data-toggle="modal" data-target="#modalProveedor")
                    span.icon.text-white-50
                        i.fas.fa-plus
                    span.text.tf-myriad Agregar Deposito
                button#newFactura.btn.btn-warning.btn-icon-split.m-3(type="button" data-toggle="modal" data-target="#modalProveedor")
                    span.icon.text-white-50
                        i.fas.fa-plus
                    span.text.tf-myriad Agregar Factura
        .card.shadow.mb-4
            .card-header.mb-4
                h6.m-0.font-weight-bold.text-center.Titulo-Card DATOS DEL DEPOSITO
            .card-body
                .table-responsive
                    table#tblDepositos.table.table-striped(style='width:100%')
                        thead
                            tr
                                th Fecha                 
                                th N° de Deposito                 
                                th Monto             
                                         
                                    
                        tfoot.subTitle
                            tr
                                th(colspan="2") Total:                                 
                                th 1087.13  

        .card.shadow.mb-4
            .card-header.mb-4
                h6.m-0.font-weight-bold.text-center.Titulo-Card DATOS DE LA FACTURA
            .card-body
                .table-responsive
                    table#tblFacturas.table.table-striped(style='width:100%')
                        thead
                            tr
                                th Fecha                 
                                th N° de Factura 
                                th Monto                 
                                th Dias de Credito
                                th Fecha de Vencimiento
                                th Dias Faltantes                                      
                        tfoot.subTitle  
                            tr
                                th(colspan="5") Total:                  
                                th 1290.09
        
        .row
            .col-sm.text-center

block modalPage
    #modalProveedor.modal.fade(tabindex='-1' role='dialog' aria-labelledby='Editar Proveedor' aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h5#modalProveedorTitle.modal-title.tf-bungee Editar Proveedor
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
              form#formProveedor 
                .modal-body  
                        .conteiner
                            .row.tf-myriad
                                .col-sm-4
                                    input#idProveedor(type="hidden" value=`${proveedor.id}`) 
                                    h5 Nombre del Proveedor
                                .col-sm-6
                                    input#nombrePro.form-control(type='text' placeholder='Nombre Proveedor' value=`${proveedor.nombreProveedor}`) 
                                    #errores
                                                                               
                .modal-footer
                    input#btnGuardar.btn.btn-munay01(type="submit" value="Agregar")               
    
         

block footerConteiner
    script(src='/js/DT_proveedor.js')
    