nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
    button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
        i.fa.fa-bars
    ul.navbar-nav.ml-auto
        .topbar-divider.d-none.d-sm-block
        li.nav-item.dropdown.no-arrow
            a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                span.mr-2.d-none.d-lg-inline.text-gray-600.small.titulo-menu ADMIN
                img.img-profile.rounded-circle(src='https://source.unsplash.com/QAB-WJcbgJk/60x60')
                                  
            .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.subtitulos-menu(aria-labelledby='userDropdown')
                a.dropdown-item(href='#')
                    i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                    | Perfil
                .dropdown-divider
                a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                    | Cerrar Sesion